language: cpp
dist: focal
compiler:
 - gcc

 before_install: 
  - sudo apt update
  - sudo apt -y install libboost1.71-dev

script:
 - git clone https://github.com/TartanLlama/expected.git
 - cd expected
 - cmake . -Bbuild -DEXPECTED_BUILD_TESTS=OFF
 - sudo make install -C build
 - cd ..
 - git clone https://github.com/rollbear/dry-comparisons.git
 - sudo mkdir /usr/local/include/dry-comparisons/
 - sudo cp dry-comparisons/dry-comparisons.hpp /usr/local/include/dry-comparisons/dry-comparisons.hpp
 - git clone https://github.com/fmtlib/fmt.git
 - cd fmt
 - cmake . -Bbuild -DFMT_TEST=OFF
 - cmake --build build
 - sudo make install -C build
 - cd ..
 - git clone https://github.com/SergiusTheBest/plog.git
 - cd plog
 - cmake . -Bbuild -DPLOG_BUILD_SAMPLES=OFF
 - sudo make install -C build
 - cd ..
 - cmake . -Bbuild
 - cmake --build build -- -j2
